<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
	<ul class="list-group">
		<a [routerLink]="['/project']"
			[routerLinkActive]="['router-link-active']" class="list-group-item">
			<i class="fa fa-fw fa-dashboard"></i>&nbsp;projects
		</a>
	</ul>
	<ul class="list-group" *ngFor="let project of projects let i = index">

		<a href="javascript:void(0);" (click)="redirect(project.projectId)" class="list-group-item" style="margin-left: 50px;">
			{{project.projectName}}
		</a>
	</ul>
</nav>
